@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Karla:wght@800&display=swap');

h1{
    font-family: 'Karla', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 40px;
}

span{
    color: #10B981;
}

#splitter{
    width: 446px;
    border-radius: 2px;
    border: 1px solid #D5D4D8;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #D5D4D8;
    font-size: 20px;
}

#wrapper{
    background-color: #1F2937;
    width: 550px;
    height: 550px;
}

#interface{
    padding-left: 52px;
    padding-top: 50px;
}

#generateButton{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    display: inline;
    background-color: #10B981;
    height: 42px;
    width: 223px;
    border-radius: 8px;
    border-style: none;
    text-align: start;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all .2s ease-in-out;
}

#generateButton:hover{
    transform: scale(1.05);
}

#icon-button{
    text-align: start;
    width: 13%;
    height: 45%;
}

#output{
    padding-left: 52px;
    padding-top: 20px;
}

.outputwrapper{
    position: absolute;
    display: flex;
}

.outputfield{
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #10B981;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 600;
}
