/* Schrift styling*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Karla:wght@800&display=swap');

h1{
    font-family: 'Karla', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

h2{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.125rem;
    margin-top: 2vh;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 0.938rem;
}

#outputFinal{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.1rem;
}

span{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 0.938rem;
}
/* Body & Background */
body{
    display: flex;
    justify-content: center;
    align-items: center;

/* QUELLE: Gradientcode von https://www.gradient-animator.com/ */
    background: linear-gradient(224deg, #243166, #2ac0d9, #8b2ad9, #430b69, #0076ff);
    background-size: 1000% 1000%;

    -webkit-animation: background-gradient 59s ease infinite;
    -moz-animation: background-gradient 59s ease infinite;
    -o-animation: background-gradient 59s ease infinite;
    animation: background-gradient 59s ease infinite;
}
/* QUELLE: Gradientcode von https://www.gradient-animator.com/ */
@-webkit-keyframes background-gradient {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-moz-keyframes background-gradient {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-o-keyframes background-gradient {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@keyframes background-gradient {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}

#trenner{
    border-top: 3px solid;
    border-radius: 10px;
    border-color: #005CC8;
    margin-top: 2vh;
}

#interfaceWrapper{
    background-color: #0b1e38;
    height: 90vh;
    width: 25vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 3vh;
    padding-bottom: 2vh;
}

#interfaceSpacing{
    height: 72vh;
    width: 20vw;
}

/* Einstellungen Styling */
.optionwrapperInputfield{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.optionwrapperCheckbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #102a4c;
    border-radius: 12px;
    margin-bottom: 1vh;
    padding-left: 2vh;
    height: 5vh;
}

#pwLength{
    margin-left: 1vh;
    margin-right: 1vh;
    width: 80vw;
    height: 3vh;
    border-radius: 12px;
    border-style: none;
    display: flex;
    justify-content: center;
}

.settings{
    width: 5vw;
    height: 2vh;
    margin-right: 1vw;
    border-radius: 12px;
    border-style: none;
    display: flex;
    justify-content: end;
}

/* Passwortstärkenanzeige */
.strengthDesignSchwach{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
    transition: all ease-in 0.25s;
    background: #ce0000;
}

.strengthDesignSchwach::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    position:relative;
    width: 4px;
    height: 10px;
}

.strengthDesignOkay{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
    transition: all ease-in 0.25s;
    background: #f47a00;
}

.strengthDesignOkay::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    position:relative;
    width: 4px;
    height: 10px;
}

.strengthDesignGut{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
    transition: all ease-in 0.25s;
    background: #cbf900;
}

.strengthDesignGut::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    position:relative;
    width: 4px;
    height: 10px;
}

.strengthDesignStark{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
    transition: all ease-in 0.25s;
    background: #04ff00;
}

.strengthDesignStark::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    position:relative;
    width: 4px;
    height: 10px;
}

#strengthIndicator{
    margin-left: 2vw;
}

/* Output & Sonstiges */

#pwText{
    width: 100%;
    height: 3vh;
    border-radius: 8px;
    border-style: none;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #0b1e38;
    font-size: 15px;
    padding-left: 0.5vw;
    margin-right: 0.5vw;
    -moz-box-shadow:    inset 0px 0px 5px #0b1e38;
    -webkit-box-shadow: inset 0px 0px 5px #0b1e38;
    box-shadow:         inset 0px 0px 5px #0b1e38;
}

#outputfield{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005cc8;
    border-radius: 12px;
    height: 8vh;
    -moz-box-shadow:    inset 0 0 10px #0b1e38;
    -webkit-box-shadow: inset 0 0 10px #0b1e38;
    box-shadow:         inset 0 0 10px #0b1e38;
}

#generatePassword{
    border-radius: 15px;
    border-style: none;
    width: 100vh;
    transition: all .2s ease-in-out;
    background: rgb(9,9,121);
    background: linear-gradient(39deg, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 14%, rgba(0,236,255,1) 100%); /* Verlauf von https://cssgradient.io/*/
}

#buttonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 2vh;
}

#generatePassword:hover{
    transform: scale(1.03);
}

#outputfield:hover{
    cursor: copy;
}